#scanButton {
    height: 175px;
}

#cameraModelTakePhoto {
    /*width*/
}

.recentsArrowIn {
    font-size: 3em;
}

/*TESTING - DEV*/
/*.col, .col-auto, .col-12, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {*/
/*    border: 1px solid red;*/
/*}*/

body div#addFab > ul#dropupAddHolder{
    /*Taken from inspector then modified*/
    /*transform: translate(-51px, -100px);*/
    transform: translate(-35px, -100px) !important;
}