$primary: #20A39E;
//$secondary: #7b9694;
$secondary: #cce8e6;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");

// Merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
        "secondary": $secondary
));
//  https://stackoverflow.com/a/50253707/16041898


#footerFiller {
  height: 127px;
}

.card img.displayImage {
  height: 190px !important;
  width: auto !important;
  object-fit: contain;
}

#items .card .card-body{
  height: 4.5em;

}
div.item>.card>.card-header{
  max-height: 2.5em;
  //max-height: 4.5em;
}

.item i.bi-exclamation-diamond-fill{
  display: none;
}
.item .text-warning-emphasis i.bi-exclamation-diamond-fill{
  display: inline;
}

#scanButton {
  height: 175px;
}

#cameraModelTakePhoto {
  /*width*/
}

.recentsArrowIn {
  font-size: 3em;
}

/*TESTING - DEV*/
/*.col, .col-auto, .col-12, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {*/
/*    border: 1px solid red;*/
/*}*/

.fab > button {
  width: 84px;
  height: 84px;
}

div.fab > ul#dropupAddHolder{
  /*Taken from inspector then modified*/
  /*transform: translate(-51px, -100px);*/
  transform: translate(-20px, -110px) !important;
}

.q-

//Fix the Quasar number input formatting not taking up the width when clearable action is added.
//.q-field.row.no-wrap.items-start.q-field--filled.q-input.q-field--float.q-field--labeled.q-field--with-bottom.full-width.clearable
.clearable>div>div>div{
  flex: none !important;//TODO: Remove importants
}

.page-container{
  //min-height: 100%;
  min-height: 100vh;
}

.animationText{

}

.slide-fade-enter-active {
  transition: all 0.8s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  //opacity: 0;
}

.btn.btn-outline-primary.link-secondary.leftSeparationBorder{
  border-left: 1px solid var(--bs-secondary);
}

.bg-invisible {
  background-color: rgba(0, 0, 0, 0);
}

.centerNavTallOption{
  background-color: #0000;
  //TODO: Get working with q-classes!
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// set changes
@import "../node_modules/bootstrap/scss/bootstrap.scss";
