
// required to get $orange variable
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//// merge with existing $theme-colors map
//$theme-colors: map-merge($theme-colors, (
//        "primary": "#fff"
//));

$primary: #20A39E;
$secondary: #7b9694;
$secondary: #cce8e6;

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");

// Merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
        "secondary": $secondary
));
//  https://stackoverflow.com/a/50253707/16041898


#footerFiller {
  height: 127px;
}

.category img.displayImage, .item img.displayImage{
  //TODO: Use max-height instead
  width: auto !important;
  height: 190px !important;

}

#items .card .card-body{
  height: 4.5em;
}

.item i.bi-exclamation-diamond-fill{
  display: none;
}
.item .text-warning-emphasis i.bi-exclamation-diamond-fill{
  display: inline;
}

// set changes
@import "../node_modules/bootstrap/scss/bootstrap.scss";
