<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Vue App Prototype</title>
    <link href="./css/custom.css" rel="stylesheet">
<!--    <link href="./css/customVueAppPrototype.css" rel="stylesheet">-->
</head>
<body class="d-flex flex-column h-100 vsc-initialized m-0 p-0">

<div id="app" class="d-flex flex-column h-100 vsc-initialized m-0 p-0">
<!-- LOCATION - UNSPECIFIC START -->
    <div id="newCategoryModel" class="modal fade" tabindex="-1" aria-labelledby="newCategoryModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newCategoryModelLabel">New Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="addCategory" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="new-category-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control focus-ring-primary" id="new-category-name" required v-model="newCategory.title">
                            <div class="invalid-feedback">
                                A name is required for the category
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="new-category-description" class="col-form-label">Description:</label>
                            <textarea class="form-control focus-ring-primary" id="new-category-description"  v-model="newCategory.description"></textarea>
                        </div>
                        <div class="modal-footer row justify-content-center">
                            <button type="submit" class="col-auto btn btn-primary justify-content-center">Create Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <item-modal @add-item="addItem" v-bind:new-item="this.newItem" :submit-button-text="'Create Item'" id="newItemModel" title="New Item"></item-modal>
<!--    <item-modal @edit-item="editItem" :exists=true :item="this.editItem" id="editItemModel" title="Edit Item"></item-modal>-->
    <item-modal @add-item="editItem" v-bind:new-item="this.editItem" @remove-item="removeItem" :submit-button-text="'Update Item'" :exists=true id="editItemModel" title="Edit Item"></item-modal>

    <main id="pageHolder" class="container-fluid row h-100 m-0 p-0">
        <div class="col-auto d-none d-md-block m-0 p-0">

            <div id="sidebar" class="h-100 d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none mx-auto">
                    <span class="fs-4">"Created Name"</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <navigate-icon-item @click="openNavPage('home')" li-extra-classes="p-2 mb-2" icon-class="house">
                    </navigate-icon-item>
                    <navigate-icon-item @click="openNavPage('items')" li-extra-classes="p-2 mb-2" icon-class="grid">
                    </navigate-icon-item>
                    <navigate-icon-item @click="openNavPage('recents')" li-extra-classes="p-2 mb-2" icon-class="arrow-left-right" :badge-text="recentItemsList.length">
                    </navigate-icon-item>
                    <navigate-icon-item @click="openNavPage('account')" li-extra-classes="p-2 mb-2" icon-class="person">
                    </navigate-icon-item>
                </ul>
                <hr>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary rounded-0 p-0">
                        <a class="icon-link link-secondary">
                            <span class="p-2 ps-1 pe-0"><i class="bi bi-phone"></i></span>
                            <strong><a href="#" class="link-secondary">Download our app</a></strong>
                        </a>
                    </button>
                </div>
            </div>
        </div>


        <div class="col m-0 p-0">
            <header id="header" class="head bg-primary text-center">
                <span id="pageTitle" class="mt-4 text-center">
                    {{ currentPageTitle }}
                </span>
            </header>
            <div data-navPage="home" v-if="currentPage==='home'" data-pageTitle="TEST" class="page container-fluid m-0 p-0 ">
                <!--  HERO/JUMBOTRON  -->
                <div class="m-2 jumbotron jumbotron-fluid bg-primary d-flex align-items-center text-center mt-5 pb-0">
                    <h1 class="display-2 d-md-none d-col-block p-3 text-secondary fw-bold w-100 pb-0">Instant Inventory</h1>
                </div>
                <div class="d-flex align-items-center text-center justify-content-center mt-5 px-4 pb-0">
                    <div class="jumbotron m-2 bg-primary">
                        <h1 class="display-6 d-none d-md-block p-3 text-secondary fw-bold w-100 px-4">Instant Inventory</h1>
                        <br>
                        <div class="bg-secondary-subtle p-0 m-0">
                            <p class="w-100">Connection Info</p>
                            <p class="">{{appVersion}}</p>
                        </div>
                    </div>

                </div>
                <div class="w-100 justify-content-center">
                    <div class="m-5 bg-body-tertiary mx-auto m-4 p-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Categories</th>
                                <th scope="col">Items</th>
                                <th scope="col">Total Stock</th>
                                <th scope="col">Needs Refill</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
<!--                                <th scope="row">1</th>-->
                                <td>{{categoriesList.length}}</td>
                                <td>{{itemsList.length}}</td>
                                <td>#</td>
                                <td>{{itemsList.filter(item => item.needsReorder()).length}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div data-navPage="items" v-if="currentPage==='items'" data-pageTitle="Explorer" class="position-relative page container-fluid mt-5 m-0 flex-grow-1">
                <header id="searchRibbon" class="bg-body-tertiary">
                    <div class="row align-items-center">
                        <div class="col-auto d-flex text-center align-items-center">
                            <p class="ms-4">Filter Search</p>
                        </div>

                        <div class="col end-0">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="searchTextDescribe"><i class="bi ms-1 bi-search"></i></span>
                                <input type="text" v-model="filterSettings.searchString" class="form-control focus-ring-primary" placeholder="" aria-label="Search" aria-describedby="searchTextDescribe">
                            </div>
                        </div>


                        <div class="btn-group" role="group" aria-label="Checkbox button filter options">
<!--                            <toggle-array :options="filterOptionsArray">-->
<!--                            </toggle-array>-->
                            <toggle-item label="Include Categories" :option="filterSettings.includeCategories" @update-option-toggle="this.updateToggle('includeCategories')"></toggle-item>
                            <toggle-item label="Include Items" :option="filterSettings.includeItems" @update-option-toggle="this.updateToggle('includeItems')"></toggle-item>
                            <toggle-item label="Only Needs Reorder" :option="filterSettings.underThreshold" @update-option-toggle="this.updateToggle('underThreshold')"></toggle-item>
<!--                            <button @click="filterSettings.includeItems = !filterSettings.includeItems">test</button>-->
                        </div>
                        <div class="col-12 ps-3 mb-0 pb-0">
                            <nav aria-label="Inventory Explorer Breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="link-primary">Warehouse</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Category ____</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </header>

                <div :class="{'d-none': currentCategoriesList.length !== 0 || currentItemsList.length !== 0}">
                    <div class="jumbotron m-4">
                        <h3 class="display-6">Whoops</h3>
                        <p class="lead">It looks like there are no results that fit your search criteria, try loosing your requirements.</p>
                    </div>
                </div>

                <div id="items" class="row row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xxl-6 g-2 m-1">
<!--                    <cards-list v-bind:items="currentCategoriesList">-->
                    <cards-list v-bind:items="currentCategoriesList" @edit-item="updateEditItem" :target-model-selector="''">
                        <!--                        v-bind:footer-info="getCategoryFooter"-->
                        <template #footer>
<!--                            {{ item.items.length }} unique item{{ item.items.length === 1? "":"s" }}-->
                        </template>r
                    </cards-list>

                    <cards-list v-bind:items="currentItemsList" @edit-item="updateEditItem" :target-model-selector="'#editItemModel'">
<!--                        <template #footer>-->
<!--                        </template>-->
                    </cards-list>

                </div>


                <div class="position-fixed bottom-0 end-0 p-3">
                    <div id="addFab" class="dropup-center dropup rounded-circle">
                        <button class="rounded-circle btn btn-primary end-0 m-4 p-4" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                            <span class="d-inline-block fs-5">
                                <i class="bi bi-plus"></i>
                            </span>
                        </button>

                        <ul class="dropdown-menu pe-2"  id="dropupAddHolder">
                            <li>
                                <button type="button" class="btn btn-primary w-100 m-1" data-bs-toggle="modal" data-bs-target="#newCategoryModel">
                                    <a class="icon-link link-secondary text-decoration-none">
                                        <span class="p-2"><i class="bi bi-archive"></i></span>
                                        Category
                                    </a>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary w-100 m-1" data-bs-toggle="modal" data-bs-target="#newItemModel">
                                    <a class="icon-link link-secondary text-decoration-none">
                                        <span class="p-2"><i class="bi bi-box"></i></span>
                                        Item
                                    </a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <div data-navPage="recents" v-if="currentPage==='recents'" data-pageTitle="Recents" class="page container-fluid mt-5"><!--flex-shrink-0-->
                <div id="inventoryCards" class="m-0">
                    <div v-for="(item, i) in recentItemsList" :key="item.id" class="py-2 rounded-0 row bg-secondary border-2 border-primary border-bottom"><!--card-->

                        <div class="bi-3x col-2 p-0 my-auto text-center">
                            <i class="recentsArrowIn bi ms-1 bi-plus"></i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <span class="card-text ">{{ new Date(item.lastUpdated).toDateString()+" at "+new Date(item.lastUpdated).getHours()+":"+(new Date(item.lastUpdated).getMinutes()<10? "0":"")+new Date(item.lastUpdated).getMinutes() }}</span><br>
                            <span class="card-text">{{ item.qty+' in stock'}}</span><br>
                            <p class="card-text badge badge text-bg-info">Category Name</p>
                        </div>
                        <div class="bi-3x col-2 p-0 my-auto text-center">
                            <i class="recentsArrowIn bi ms-1 bi-dash"></i>
                        </div>
                    </div>






                </div>
            </div>
            <div data-navPage="account" v-if="currentPage==='account'" data-pageTitle="Profile" class="page container-fluid m-0 p-0 h-100 overflow-y-hidden pt-sm-4 pt-4"><!--flex-shrink-0-->
                <div id="account" class="m-0 h-100 bg-secondary position-relative">
                    <div class="p-md-4 p-md-0 rounded-0 row bg-secondary h-auto d-flex align-items-start bg-white">
                        <div class="col-12 h-auto bg-white">
                            <img width="15%" src="./staticImages/person-circle.svg" class="border-secondary p-2 border-2 mx-auto d-block bg-white" alt="Profile Picture">
                        </div>
                        <div class="col-12 col-md-12 h-auto bg-white">
                            <label for="profile-name" class="col-12 col-form-label">Name:</label>
                            <input type="text" class="form-control focus-ring-primary" id="profile-name">
                        </div>
                        <div id="permissionsChips" class="col-12 bg-body-tertiary h-auto">
                            <p>Permissions
                                <span class="badge text-bg-secondary">Admin</span>
                                <span class="badge text-bg-secondary">Add Items</span>
                            </p>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
<!--                    <div class="col-auto pt-4 mx-auto h-auto position-absolute bottom-0 start-100 mb-5 translate-middle-x">-->
                        <button type="button" class="btn btn-danger">Sign Out</button>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer id="bottomFooterFull" class="d-block d-md-none footer fixed-bottom bg-transparent">

        <div class="container-fluid justify-content-center align-content-center row m-0 p-0">
            <div class="container">
                <div class="row d-flex">

                    <div id="footerFiller" class="bg-secondary-subtle position-fixed bottom-0 z-n1">

                    </div>

                    <div class="navbarSide1 col d-flex flex-column align-items-center mt-5 p-0">
                        <div class="col d-flex justify-content-center align-items-center w-100 bg-secondary-subtle">
<!--                            <button id="addButton" type="button" class="btn btn-primary my-auto">-->
<!--&lt;!&ndash;                                <i class="bi bi-plus"></i>&ndash;&gt;-->
<!--                            </button>-->
                            <div class="dropup-center dropup">
                                <button id="addButton" type="button" class="rounded-1 btn btn-primary my-auto btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-plus"></i>
                                </button>
                                <div>
                                    <ul class="dropdown-menu pe-2">
                                        <li>
                                            <button type="button" class="btn btn-primary w-100 m-1" data-bs-toggle="modal" data-bs-target="#newCategoryModel">
                                                <a class="icon-link link-secondary text-decoration-none">
                                                    <span class="p-2"><i class="bi bi-archive"></i></span>
                                                    Category
                                                </a>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary w-100 m-1" data-bs-toggle="modal" data-bs-target="#newItemModel">
                                                <a class="icon-link link-secondary text-decoration-none">
                                                    <span class="p-2"><i class="bi bi-box"></i></span>
                                                    Item
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="col d-flex w-100 bg-secondary row-cols-2"><!-- gap-1 -->
<!--                            <button type="button" data-navPageTarget="home" @click="openNavPage('home')" class="link-secondary primaryNavMovePage btn btn-primary my-auto h-100 rounded-0 border-end">-->
<!--                                <i class="bi bi-house"></i>-->
<!--                            </button>-->
                            <navigate-icon-item @click="openNavPage('home')" icon-class="house">
                            </navigate-icon-item>
                            <navigate-icon-item @click="openNavPage('items')" icon-class="grid">
                            </navigate-icon-item>
                        </div>
                    </div>

                    <div class="navbarScan col-4 p-0">
                        <button id="scanButton" data-navPageTarget="items" @click="openNavPage('items')" type="button" data-bs-toggle="modal" data-bs-target="#newItemModel" class="link-secondary primaryNavMovePage btn btn-primary w-100 rounded-top-pill">

<!--                            <div class="icon-container">-->
<!--                                <span class="bi bi-upc-scan w-100"></span>-->
                                    <img src="./staticImages/upc-scan.svg" class="w-100" alt="Scan Barcode">

<!--                            </div>-->
                        </button>

                    </div>

                    <div class="navbarSide2 col d-flex flex-column align-items-center mt-5 p-0">
                        <div class="col d-flex justify-content-center align-items-center w-100 bg-secondary-subtle">
<!--                            <button id="editButton" type="button" class="btn btn-primary my-auto" :class="{'highlightToEdit': itemsViewMode}">-->
<!--&lt;!&ndash;                                <i class="bi bi-pencil-square"></i>&ndash;&gt;-->
<!--                                <i class="bi bi-pencil"></i>-->
<!--                            </button>-->
                        </div>

                        <div class="col d-flex w-100 bg-secondary row-cols-2 position-relative"><!-- gap-1 -->
                            <navigate-icon-item @click="openNavPage('recents')" icon-class="arrow-left-right" li-extra-classes="{{ recentItemsList.length }}">
                            </navigate-icon-item>
                            <navigate-icon-item @click="openNavPage('account')" icon-class="person">
                            </navigate-icon-item>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
    <!-- Vue Application -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/app.js"></script>
    <script src="js/components/ToggleItem.js"></script>

    <script src="js/components/CardsList.js"></script>
    <script src="js/components/CardItem.js"></script>

    <script src="js/components/itemModal.js"></script>

    <script src="js/components/NavigateIconItem.js"></script>

<!--    <script src="js/components/TogglesArray.js"></script>-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/InventorySystem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        // start the app after all the other JS has been loaded
        app.mount('#app');
    </script>
</body>
</html>