extras: [
  'material-icons',
  'mdi-v7',
  'ionicons-v4', // last webfont was available in v4.6.3
  'eva-icons',
  'fontawesome-v6',
  'themify',
  'line-awesome',
  'bootstrap-icons'
],

% framework: {
%   plugins: ['Notify'],
%
%   config: {
%     notify: {
%         position: 'top-right',
%         timeout: 2000,
%         textColor: 'white',
%         bgColor: 'primary',
%     }
%   }
% }