<footer id="bottomFooterFull" class="bg-secondary footer mt-auto bg-body-tertiary">
    <div class="container-fluid justify-content-center align-content-center row w-100 m-0 p-0">

        <div class="col w-100 p-0">
            <div class="row h-100 d-flex mx-auto">
<!--                <div class="col-12 position-absolute top-50 start-50 translate-middle-y justify-content-center align-content-center">-->
                <div class="col-12 h-50 bg-primary mx-auto">
                    <button id="addButton" class="bi bi-toggles mx-auto">
                        <!--                <i class="bi bi-upc-scan"></i>-->
                    </button>
                </div>
                <div class="col-12 h-50">
                    <button id="addButton" class="bi bi-upc-scan">
                        <!--                <i class="bi bi-upc-scan"></i>-->
                    </button>
                </div>
            </div>
        </div>
        <div class="col-auto w-25 bg-primary m-0 p-0">
            <button id="scanButton" class="bi bi-upc-scan w-100 m-0 p-0">
<!--                <i class="bi bi-upc-scan"></i>-->
            </button>
        </div>
        <div class="col">
            <button id="___Button" class="bi bi-upc-scan h-100">
                <!--                <i class="bi bi-upc-scan"></i>-->
            </button>
        </div>
    </div>
</footer>